img {
    width: 100%;
}

.contact {
    display: flex;
    width: 100%;
    background-color: #fff;
    &_photo {
        width: 50%;
    }
    &_description {
        width: 50%;
        height: 100%;
        padding: 2rem;
        h3 {
            padding: 2rem 0;
        }
    }
}