@import "../../variables.scss";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-main;
  height: $menu-height;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 2;

  &__logo {
    display: flex;
    align-items: center;
    h1 {
      margin: 0;
      font-size: 1.5rem;
      color: cadetblue;
      letter-spacing: 2px;
      white-space: nowrap;
      span {
        color: $color-active;
      }
    }
    img {
      height: 30px;
      padding: 0 1rem;
    }
  }

  &__menu {
    &-list {
      padding: 0;
      position: fixed;
      left: 0;
      display: flex;
      flex-direction: column;
      height: $menu-height;
      list-style-type: none;
      &--hidden {
        display: none;
      }
      &-item {
        display: flex;
        align-items: center;
        background-color: $color-main;
        &--active {
          background-color: darken($color-active, 10%);
        }
      }
    }
    &-link {
      display: block;
      height: $menu-height;
      width: 100vw;
      text-align: center;
      line-height: $menu-height;
      padding: 0 1rem;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: 1px;
      color: $color-bg;
      text-decoration: none;
      &:hover {
        background-color: darken($color-active, 8%);
      }
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $menu-height;
      svg {
        cursor: pointer;
        fill: $color-bg;
        &:hover {
          fill: darken($color-active, 50%);
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 2rem;
  height: 100%;

  &--main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $color-bg;
  }

  &--column {
    flex-direction: column;
  }
}

@media (min-width: 770px) {
  .header {
    &__menu {
      &-list {
        position: relative;
        transform: none;
        display: flex;
        flex-direction: row;
        &-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color-main;
        }
      }
      &-link {
        width: auto;
        font-size: 1rem;
      }
      &-icon {
        display: none;
      }
    }
  }
}
