<div class="postFormContainer">
    <h2>Post Form</h2>
    <form autocomplete="off" novalidate [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <section>
            <fieldset>
                <label>Title:
                    <input type="text" formControlName="postTitle" />
                </label>
            </fieldset>
        </section>
        <section>
            <fieldset>
                <label>Body:
                    <input type="text" formControlName="postBody" />
                </label>
            </fieldset>
        </section>
        <button>Submit</button>
    </form>
</div>
