<h3>Choose post to edit/delete or add a new one</h3>
<div>
  <div class="mb-3">
    <label for="selection" class="form-label">Select post</label>
    <select (change)="onChange($event)" class="form-select" id="selection">
      <option value="0">New post</option>
      <option *ngFor="let post of this.posts" [value]="post._id">
        {{ post.postDate | date }} {{ post.postTitle }}
      </option>
    </select>
  </div>

  <form
    autocomplete="off"
    novalidate
    [formGroup]="postForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        formControlName="postTitle"
        class="form-control"
        id="title"
        required
      />
      <p
        class="error"
        *ngIf="postForm.get('postTitle').touched && postForm.get('postTitle').errors && postForm.get('postTitle').errors.required"
      >
        To pole jest obowiązkowe.
      </p>
      <p
      class="error"
      *ngIf="postForm.get('postTitle').touched && postForm.get('postTitle').errors && postForm.get('postTitle').errors.minlength"
    >
      Tytuł musi zawierać co najmniej 10 znaków.
    </p>
    </div>

    <div class="mb-3">
      <label for="body" class="form-label">Body:</label>
      <textarea
        type="text"
        formControlName="postBody"
        class="form-control postBody"
        id="body"
      ></textarea>
      <p
        class="error"
        *ngIf="postForm.get('postBody').touched && postForm.get('postBody').errors && postForm.get('postBody').errors.required"
      >
        To pole jest obowiązkowe.
      </p>
      <p
        class="error"
        *ngIf="postForm.get('postBody').touched && postForm.get('postBody').errors && postForm.get('postBody').errors.minlength"
      >
        Post musi zawierać co najmniej 100 znaków.
      </p>
    </div>
    <div *ngIf="!this.postId">
      <button (click)="this.sendNewPost()" type="button" class="btn btn-primary" [disabled]="!postForm.valid">Add new post</button>
    </div>
    <div *ngIf="this.postId">
      <button (click)="this.editPost()" type="button" class="btn btn-warning" [disabled]="!postForm.valid">Edit post</button>
      <button (click)="this.deletePost()" type="button" class="btn btn-danger">Delete post</button>
    </div>
  </form>
</div>
