<div class="about">
  <div class="about_photo">
    <img src="assets/img/author2.jpg" />
  </div>
  <div class="about_description">
    <h3>About me</h3>
    <p>Donec enim diam vulputate ut pharetra sit amet. Iaculis at erat pellentesque adipiscing commodo elit. Pellentesque adipiscing commodo elit at. Faucibus ornare suspendisse sed nisi lacus. </p>
    <p>Convallis aenean et tortor at risus viverra adipiscing. Sagittis eu volutpat odio facilisis mauris sit amet massa. Porttitor rhoncus dolor purus non enim praesent. Ac felis donec et odio pellentesque diam. Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. Sed nisi lacus sed viverra tellus.</p>
</div>
</div>
