:host {
  min-height: calc(100% - 2rem);
}
.hello {
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-style: italic;
  font-family: "Damion", cursive;
}
.infoCard {
  display: block;
  position: sticky;
  top: 4rem;
  background-color: #eee;
  margin: 1rem 0 1rem 1rem;
  border-radius: 4px;
}
img {
  width: 100%;
  // border-radius: 1rem 1rem 0 0;
}
