<div class="mainArticleCard">
  <div class="mainArticleCard__description">

    <blockquote class="blockquote mb-0">
      <p class="ms-2">
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
      veritatis aperiam veniam, soluta natus sed voluptas! Assumenda suscipit
      labore ex voluptates, unde qui est id et iusto, aliquam ducimus ipsum sint
      totam."
      </p>
      <footer class="right blockquote-footer">Some Author</footer>
    </blockquote>
  </div>
  <div class="mainArticleCard__picture"></div>
</div>
